<!-- 页头 -->
<ion-header>
  <ion-toolbar>
    <img slot="start" src="../../assets/logo.png" alt="">
    <ion-searchbar placeholder="商品搜索"></ion-searchbar>
  </ion-toolbar>
</ion-header>
<!-- 主体 -->
<ion-content>
  <!-- 轮播广告 -->
  <ion-slides pager="true" #myslides> <!--#子元素标识符-->
    <ion-slide *ngFor="let c of carouselItems">
      <img [src]="url.server+c.img" alt="">
    </ion-slide>
  </ion-slides>
  <!-- 1F首页推荐 -->
  <ion-item>
    <!--想要下划线可以放label里-->
    <img slot="start" src="../../assets/computer_icon.png" alt="">  
    <ion-label>首页推荐/1F</ion-label>
  </ion-item>
  <!-- 下方卡片商品 -->
  <ion-grid>
    <ion-row>
      <ion-col size="6" *ngFor="let p of recommendedItems">
        <ion-card>
          <img [src]="url.server+p.pic" alt="">
          <ion-card-header>
            <ion-card-title>{{p.title}}</ion-card-title>
            <ion-card-subtitle>{{p.details}}</ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>
            <ion-text color="primary">{{p.price|currency:'￥'}}</ion-text>
            <ion-button size="small">查看详情</ion-button>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

  <!-- 2F最新上架 -->
  <ion-item>
    <!--想要下划线可以放label里-->
    <img slot="start" src="../../assets/computer_icon.png" alt="">  
    <ion-label>最新上架/2F</ion-label>
  </ion-item>
    <!-- 下方卡片商品 -->
  <ion-grid>
      <ion-row>
        <ion-col size="6" *ngFor="let p of recommendedItems">
          <ion-card>
            <img [src]="url.server+p.pic" alt="">
            <ion-card-header>
              <ion-card-title>{{p.title}}</ion-card-title>
              <ion-card-subtitle>{{p.details}}</ion-card-subtitle>
            </ion-card-header>
            <ion-card-content>
              <ion-text color="primary">{{p.price|currency:'￥'}}</ion-text>
              <ion-button size="small">查看详情</ion-button>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  <!-- 3F热销单品 -->
  <ion-item>
      <!--想要下划线可以放label里-->
      <img slot="start" src="../../assets/computer_icon.png" alt="">  
      <ion-label>热销单品/3F</ion-label>
    </ion-item>
      <!-- 下方卡片商品 -->
    <ion-grid>
        <ion-row>
          <ion-col size="6" *ngFor="let p of recommendedItems">
            <ion-card>
              <img [src]="url.server+p.pic" alt="">
              <ion-card-header>
                <ion-card-title>{{p.title}}</ion-card-title>
                <ion-card-subtitle>{{p.details}}</ion-card-subtitle>
              </ion-card-header>
              <ion-card-content>
                <ion-text color="primary">{{p.price|currency:'￥'}}</ion-text>
                <ion-button size="small">查看详情</ion-button>
              </ion-card-content>
            </ion-card>
          </ion-col>
        </ion-row>
      </ion-grid>
  <!-- 4F底部图标 -->
  <ion-grid>
    <ion-row >
      <ion-col size="3">
        <div class="ion-text-center">
          <img src="../../assets/icon1.png" alt="">
        </div>
      </ion-col>
      <ion-col size="3">
        <div class="ion-text-center">
          <img src="../../assets/icon2.png" alt="">
        </div>
      </ion-col>
      <ion-col size="3">
        <div class="ion-text-center">
          <img src="../../assets/icon3.png" alt="">
        </div>
      </ion-col>
      <ion-col size="3">
        <div class="ion-text-center">
          <img src="../../assets/icon4.png" alt="">
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
